.u-section-1 {
  background-image: url("images/55e4d5434d5aa514f6da8c7dda793678153bdee757596c48732f7cd6904ec65fb1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1535px;
}

.u-section-1 .u-tabs-1 {
  min-height: 525px;
  margin: 67px 0 0 auto;
}

.u-section-1 .u-tab-item-1 {
  transition: transform 100ms;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-tab-item-2 {
  transition: transform 100ms;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-tab-item-3 {
  margin-bottom: 0;
  transition: transform 100ms;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 0;
  transition: transform 100ms;
}

.u-section-1 .u-tab-link-4 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-tab-item-5 {
  transition: transform 100ms;
}

.u-section-1 .u-tab-link-5 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  width: 1080px;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: normal;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-4 {
<<<<<<< HEAD
  font-weight: 700;
  margin: 0 auto 0 325px;
}

.u-section-1 .u-btn-1 {
=======
  margin: -3px 46px 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -25px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 12px 82px 0 auto;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -25px auto 0 0;
}

.u-section-1 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-12 {
<<<<<<< HEAD
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
=======
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 1110px;
  height: 462px;
  object-position: 50% 0%;
  margin: 30px -30px 0 0;
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
}

.u-section-1 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: -25px auto 0 387px;
}

<<<<<<< HEAD
.u-section-1 .u-btn-4 {
=======
.u-section-1 .u-btn-3 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  padding: 0;
}

.u-section-1 .u-text-15 {
  margin: 5px auto 0 0;
}

.u-section-1 .u-text-16 {
  margin-left: 0;
  margin-right: auto;
  font-weight: 700;
  margin-bottom: 0;
}

<<<<<<< HEAD
.u-section-1 .u-image-1 {
=======
.u-section-1 .u-image-2 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  width: 540px;
  height: 249px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-17 {
  margin-left: 0;
  margin-right: auto;
  font-weight: 700;
  margin-bottom: 0;
}

<<<<<<< HEAD
.u-section-1 .u-image-2 {
=======
.u-section-1 .u-image-3 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  width: 540px;
  height: 249px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

<<<<<<< HEAD
.u-section-1 .u-image-3 {
=======
.u-section-1 .u-image-4 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  width: 540px;
  height: 249px;
  margin: 20px auto 20px 0;
}

.u-section-1 .u-tab-pane-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-19 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: -25px 269px 0 auto;
}

<<<<<<< HEAD
.u-section-1 .u-btn-5 {
=======
.u-section-1 .u-btn-4 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  padding: 0;
}

.u-section-1 .u-text-21 {
  margin: 67px 389px 0 auto;
}

<<<<<<< HEAD
.u-section-1 .u-btn-6 {
=======
.u-section-1 .u-btn-5 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  padding: 0;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: -25px 389px 0 0;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
<<<<<<< HEAD
  margin: 918px auto 0 30px;
=======
  margin: 30px auto 0 30px;
}

.u-section-1 .u-image-5 {
  width: 1110px;
  height: 290px;
  object-position: 50% 87.86%;
  margin: 5px 0 0 auto;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 55px auto 0 30px;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 263px;
  margin: 30px auto 0 30px;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  margin: 30px auto 60px 30px;
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
<<<<<<< HEAD
    min-height: 1266px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 375px;
    height: auto;
    margin-top: 60px;
=======
    min-height: 1482px;
  }

  .u-section-1 .u-tabs-1 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-1 {
    width: 880px;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
<<<<<<< HEAD
    margin-top: 752px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -777px;
=======
    margin-right: 37px;
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  }

  .u-section-1 .u-text-9 {
    margin-right: 67px;
  }

<<<<<<< HEAD
=======
  .u-section-1 .u-image-1 {
    width: 880px;
    height: 366px;
    margin-right: 0;
  }

>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  .u-section-1 .u-text-14 {
    margin-left: 315px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 219px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 317px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 189px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 25px;
  }
<<<<<<< HEAD
=======

  .u-section-1 .u-image-5 {
    width: 940px;
    height: 245px;
    margin-top: 462px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -358px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-6 {
    margin-bottom: 15px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 25px;
  }
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
<<<<<<< HEAD
    min-height: 970px;
=======
    min-height: 1425px;
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  }

  .u-section-1 .u-line-1 {
    width: 660px;
  }

  .u-section-1 .u-text-4 {
<<<<<<< HEAD
    margin-top: 720px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -745px;
=======
    margin-right: 28px;
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  }

  .u-section-1 .u-text-9 {
    margin-right: 50px;
  }

<<<<<<< HEAD
=======
  .u-section-1 .u-image-1 {
    width: 660px;
    height: 275px;
  }

>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  .u-section-1 .u-text-14 {
    margin-left: 236px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 238px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 19px;
  }
<<<<<<< HEAD
=======

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 188px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -301px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-6 {
    margin-bottom: 0;
    margin-left: 19px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 19px;
  }
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
<<<<<<< HEAD
    min-height: 864px;
=======
    min-height: 1365px;
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 520px;
  }

  .u-section-1 .u-text-4 {
<<<<<<< HEAD
    margin-top: 685px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -710px;
=======
    margin-right: 22px;
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 39px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

<<<<<<< HEAD
=======
  .u-section-1 .u-image-1 {
    width: 520px;
    height: 217px;
  }

>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 186px;
  }

<<<<<<< HEAD
  .u-section-1 .u-image-1 {
=======
  .u-section-1 .u-image-2 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
    width: 520px;
    height: 240px;
  }

<<<<<<< HEAD
  .u-section-1 .u-image-2 {
=======
  .u-section-1 .u-image-3 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
    width: 520px;
    height: 240px;
  }

<<<<<<< HEAD
  .u-section-1 .u-image-3 {
=======
  .u-section-1 .u-image-4 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
    width: 520px;
    height: 240px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 129px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 188px;
  }

  .u-section-1 .u-text-23 {
<<<<<<< HEAD
    margin-top: -1156px;
=======
    margin-left: 14px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 141px;
    margin-top: 474px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -265px;
    margin-left: 14px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 249px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-25 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
<<<<<<< HEAD
    min-height: 772px;
=======
    min-height: 1221px;
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }

  .u-section-1 .u-text-4 {
<<<<<<< HEAD
    margin-top: 591px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -616px;
=======
    margin-right: 14px;
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  }

  .u-section-1 .u-text-9 {
    margin-right: 24px;
  }

<<<<<<< HEAD
=======
  .u-section-1 .u-image-1 {
    width: 320px;
    height: 134px;
  }

>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
  .u-section-1 .u-text-14 {
    margin-left: 114px;
  }

<<<<<<< HEAD
  .u-section-1 .u-image-1 {
=======
  .u-section-1 .u-image-2 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
    width: 320px;
    height: 148px;
  }

<<<<<<< HEAD
  .u-section-1 .u-image-2 {
=======
  .u-section-1 .u-image-3 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
    width: 320px;
    height: 148px;
  }

<<<<<<< HEAD
  .u-section-1 .u-image-3 {
=======
  .u-section-1 .u-image-4 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
    width: 320px;
    height: 148px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 79px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 116px;
  }

  .u-section-1 .u-text-23 {
<<<<<<< HEAD
    margin-top: -1248px;
=======
    margin-left: 9px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 89px;
    margin-top: 407px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -146px;
    margin-left: 9px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 157px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 9px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/55e4d5434d5aa514f6da8c7dda793678153bdee757596c48732f7cd6904ec65fb1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  margin: 32px auto 0 30px;
}

.u-section-2 .u-image-1 {
  width: 1111px;
  height: 345px;
  object-position: 50% 0%;
  margin: 16px auto 0 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 30px -29px 0 30px;
}

.u-section-2 .u-text-3 {
  margin: 42px auto 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 24px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 292px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 224px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 18px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 14px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 168px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 14px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 106px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-3 {
>>>>>>> 3910e1297bac817200aaaf56e1e5378da440f8d9
    margin-left: 9px;
  }
}