.u-section-1 {
  background-image: url("images/95688937-02.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: url("images/github_logo_with_name.png");
  background-position: 52.21% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 590px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 220px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-image-1 {
    min-height: 558px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-image-1 {
    min-height: 351px;
  }
}.u-section-2 {
  background-image: url("images/55e4d5434d5aa514f6da8c7dda793678153bdee757596c48732f7cd6904ec65fb1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 541px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 431px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 53px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 431px;
  pointer-events: auto;
  background-image: url("images/league-of-nation-3-copyjpg.jpeg");
  background-position: 0% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-2 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 408px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 257px;
  }
}.u-section-3 {
  background-image: url("images/default-image.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 594px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 159px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 594px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  margin: 172px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 100px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 {
  background-image: url("images/55e4d5434d5aa514f6da8c7dda793678153bdee757596c48732f7cd6904ec65fb1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 608px;
}

.u-section-4 .u-text-1 {
  width: 743px;
  font-weight: 700;
  margin: 57px auto 0;
}

.u-section-4 .u-slider-1 {
  width: 758px;
  min-height: 450px;
  height: auto;
  margin: 0 auto 57px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/interfaceofgithub_1.png");
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/interfaceofgithub_2.png");
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-4 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-slider-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 366px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 50px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 248px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: url("images/55e4d5434d5aa514f6da8c7dda793678153bdee757596c48732f7cd6904ec65fb1_1280.jpg");
  min-height: 850px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 554px);
  left: 666px;
  right: -80px;
  object-position: 100% 50%;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px calc(((100% - 1140px) / 2) + 750px) 0 calc(((100% - 1140px) / 2) + 101px);
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 60px calc(((100% - 1140px) / 2) + 602px) 0 calc(((100% - 1140px) / 2) + 27px);
}

.u-section-5 .u-image-2 {
  width: 73px;
  height: 69px;
  margin: 229px calc(((100% - 1140px) / 2)) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 634px;
    left: 436px;
  }

  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 618px);
    margin-left: calc(((100% - 940px) / 2) + 83px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 604px);
    margin-left: calc(((100% - 940px) / 2) + 97px);
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    left: 216px;
  }

  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 473px);
    margin-left: calc(((100% - 720px) / 2) + 64px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 463px);
    margin-left: calc(((100% - 720px) / 2) + 74px);
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    left: 36px;
  }

  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 355px);
    margin-left: calc(((100% - 540px) / 2) + 48px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 347px);
    margin-left: calc(((100% - 540px) / 2) + 56px);
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    left: -164px;
  }

  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 224px);
    margin-left: calc(((100% - 340px) / 2) + 30px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 218px);
    margin-left: calc(((100% - 340px) / 2) + 35px);
  }

  .u-section-5 .u-image-2 {
    margin-right: calc(((100% - 340px) / 2));
  }
}